<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Italy for me{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/italy.png') }}"/>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/lr6.js') }}"></script>
    <script src="{{ asset('js/DateFormat.js') }}"></script>
{% endblock %}
</body>
</html>